<!--
	=====================
	Partials/SearchRow.html
-->
<f:if condition="{resultrow.category}">
	<f:then>
		<optgroup class="category" label={resultrow.text}>
	</f:then>
	<f:else>
		<option class="searchelements">{resultrow.text}</option>
	</f:else>
</f:if>-->