<!--
	=====================
	Partials/Sorting.html
-->

<f:if condition="{conf.showSortInFrontend}">
	<f:if condition="{conf.sortByVisitor}">
		<div id="kesearch_ordering">
			<div class="ordering">
					<label>Sortieren nach:
							<select id="dropdown_sort" name="sorting">
							<f:for each="{sortingLinks}" as="number">
								<option value="{number.url}" {f:if(condition: '{number.selected}', then: 'selected = "selected"')}><f:format.raw>{number.name}</f:format.raw></option>
							</f:for>
							</select>
							<script>
								document.getElementById("dropdown_sort").onchange = function() {
									if (this.selectedIndex!==0) {
										window.location.href = this.value;
									}
								};
							</script>
						</label>
						<!--<ul>
							<li><strong>{f:translate(key: 'LLL:EXT:ke_search/pi1/locallang.xml:label_sort')}</strong></li>
							<f:for each="{sortingLinks}" as="sortingLink">
								<li class="sortlink sortlink-{sortingLink.field}"><f:format.raw>{sortingLink.url}</f:format.raw><span class="{sortingLink.class}"></span></li>
							</f:for>
						</ul>-->
				<div class="clearer"></div>
			</div>
		</div>
	</f:if>
</f:if>